<!doctype html>
<html>
  <head>
    <title>Tri intelligent </title>
	<link href="{{ url_for('static', path='css/main.css') }}" rel="stylesheet">
	
	<script>
        async function submitForm(event) {
            event.preventDefault(); // Prevent the default form submission
            const form = event.target;
            const formData = new FormData(form);

            // Send the form data to the server
            const response = await fetch(form.action, {
                method: form.method,
                body: formData
            });

            if (response.ok) {
                const data = await response.json();
                // Update the div with the response message
                document.getElementById("responseMessage").innerHTML = `<p>${data.message}</p>`;
            } else {
                document.getElementById("responseMessage").innerHTML = `<p>Error occurred</p>`;
            }
        }
    </script>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet" />
  </head>

  <header>
    <nav class="navbar">
      <a href="index.html" class="logo">
        <img src="{{ url_for('static', path='images/logo.jpg') }}" alt="Logo Smart Sort"> 
        <span>CONSO SMART</span>
      </a>
      <ul class="nav-links">
        <li><a href="#accueil">Accueil</a></li>
        <li><a href="#comment-ca-marche">Comment ça Marche ?</a></li>
        <li><a href="#temoignages">Témoignages</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </nav>
  </header>

  <body>

    <main class="hero-section">
      <div class="hero-content">
        <h1>Le Tri intelligent :<br>A vos marques? Prêt? Triez!</h1>
        
        <a href="/webcam" class="mon-bouton">
          Tri
        </a>
      </div>
    </main>

    <section class="pillars-section">
      
      <div class="pillar-card">
        <h3>Pilier 1 : Réduire</h3>
        <p>Description du premier pilier du recyclage.</p>
      </div>
      
      <div class="pillar-card">
        <h3>Pilier 2 : Réutiliser</h3>
        <p>Description du deuxième pilier du recyclage.</p>
      </div>
      
      <div class="pillar-card">
        <h3>Pilier 3 : Recycler</h3>
        <p>Description du troisième pilier du recyclage.</p>
      </div>

    </section>
</html>